# === Kaggle API ===
KAGGLE_USERNAME=YOUR_KAGGLE_USERNAME
KAGGLE_KEY=YOUR_KAGGLE_API_TOKEN

# === PostgreSQL Database ===
ETL_CONNECTION_STRING="postgresql://<YOUR_DB_USER>:<YOUR_DB_PASSWORD>@sales-db:5432/<YOUR_DB_NAME>"